# Big local data
Data/
*.geojson
*.sqlite
*.psv

# Node stuff (not needed now but ok to keep)
node_modules/

# Developer notes
Developer notes/
Sqlite/
witd-api/node_modules/

# MacOS clutter
.DS_Store

# Logs (optional)
*.log

# OS + editor junk
Thumbs.db

# Environment variables
.env